<%provide(:title, "About") %>
<h1>The aplication is Online Foosball Tracker.</h1>

<ul>
      Logged user is able to: 
    <li>Add players</li>
    <li>Add matches</li>
    <li>View statistics</li>
    <li>View its profile</li>
</ul>