<div class="center jumbotron">
  <h1>Welcome to Online Foosball Tracker</h1>

  <h2>
    	If you want to track foosball matches, view statistics and have your own profile, please sign in!
  </h2>

  <%= link_to "Sign up now!", signup_path, class: "btn btn-lg btn-primary" %>
</div>

